* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: rgba(0, 0, 0);
  }
  
  body {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: opacity 1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .visible {
    opacity: 1;
  }

  .bgImage {
    height: 100vh;
    width: 100vw;
    background-image: url(bgImage.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    filter: blur(1px);
    left: 0%;
    right: 4%;
    position: fixed;
    z-index: -1;
  }
  
  .movies-container {
    width: 360px;
    height: 450px;
    padding: 20px;
    border-radius: 15px;
    background: rgba(136, 115, 101, 0.4);
    border: 1px solid rgb(96, 107, 236);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .title {
    font-weight: bold;
    font-size: 30px;
  }
  
  .add-movie-input {
    border: none;
    height: 60%;
    width: 90%;
    border-radius: 15px;
    color: black;
    padding: 10px;
    text-align: center;
  }

  .add-movie-title {
    border: none;
    height: 10%;
    width: 90%;
    border-radius: 15px;
    color: black;
    padding: 10px;
    text-align: center;
  }

  .add-movie-language {
    border: none;
    height: 20%;
    width: 90%;
    border-radius: 15px;
    color: black;
    padding: 10px;
    text-align: center;
  }

  .add-movie-description {
    border: none;
    height: 40%;
    width: 90%;
    border-radius: 15px;
    color: black;
    padding: 10px;
    text-align: center;
  }
  
  .add-movie-input:focus {
    outline: none;
  }
  
  .add-movie-button {
    background: solid;
    padding: 10px;
    border-radius: 15px;
    color: solid black;
    border: 1px solid rgb(219, 33, 33);
    cursor: pointer;
    margin-left: 15px;
  }